.products {
    margin-top: 25px;
    display: grid;
    justify-content: center;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 400px;
}

@media (max-width: 1100px) {
    .products {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 800px) {
    .products {
        padding-left: 20%;
        padding-right: 20%;
        grid-template-columns: 1fr;
    }
}

.pagination {
    margin: 50px 0;
    display: flex;
    justify-content: center;

}

.pagination button {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #2657F2;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.5s;
}

.pagination button:hover, .pagination button:focus {
    cursor: pointer;
    background-color: #371E7B;
}