.products {
    margin-top: 25px;
    display: grid;
    justify-content: center;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 400px;
}

@media (max-width: 1100px) {
    .products {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 800px) {
    .products {
        padding-left: 20%;
        padding-right: 20%;
        grid-template-columns: 1fr;
    }
}

.menu {
    margin: 20px 100px 0 100px;
    padding: 0 20px 20px 20px;
    border: 2px solid #c8c8c8;
    display: flex;
}

.filterButton {
    margin: 20px 0 0 auto;
    width: 100px;
}