.itemTable {
    position: relative;
    cursor: pointer;
    display: flex;
    border: 1px solid black;
    height: 150px;
    width: 60%;
    margin-bottom: 20px;

    .itemImageContainer {
        height: 150px;
        width: 300px;
    }

    .itemInfo {
        display: flex;
        justify-content: space-around;
        width: 60%;
        align-items: center;
    }
}

.itemTable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 0, 255, 0.4);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.itemTable:hover::before {
    animation: expandBackground 0.5s ease-in-out;
    opacity: 1;
}

.item {
    cursor: pointer;
    position: relative;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    transition: 0.5s;

    display: flex;
    flex-direction: column;

    /*width: 300px;*/
    /*height: 400px;*/
}

.item:hover {
    margin-top: -15px;
    margin-bottom: 15px;
}
.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 0, 255, 0.4);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.item:hover::before {
    animation: expandBackground 0.5s ease-in-out;
    opacity: 1;
}

.itemImageContainer {
    /*max-width: 100%;*/
    border-bottom: 1px solid #eaeaea;
    /*width: auto;*/
    height: 300px;
}

.itemImage {
    /*max-width: 100%;*/
    /*max-height: 300px;*/
    /*object-fit: contain;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemInfo {
    /*flex: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.name {
    color: #371E7B;
    font-weight: 800;
    font-size: 18px;
}

.price {
    color: #2657F2;
    font-weight: 700;
    font-size: 15px;
}

@keyframes expandBackground {
    0% {
        left: 50%;
        width: 0;
    }
}